/* All the CSS related to answers Page */
.answer {
    display: flex;
    flex-direction: row;
    border-bottom: #000000 1px dashed;
    padding: 1rem 0; /* Add spacing between answers */
}

.answerText {
    width: 75%;
    word-wrap: break-word; /* Ensure long words don't overflow */
}

.answerAuthor {
    margin-left: 5%;
}

.answer_author {
    color: green;
}